/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  scroll-behavior: smooth;
}

/* 2. Remove default margin */
body {
  font-family: "ui-sans-serif, system-ui, sans-serif";
  background-color: aliceblue;
}

.underConstruction {
  font-size: 2rem;
  color: rgb(225, 133, 133);
}

.headerContainer {
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-content: center;
}
/* navigation bar */
.navbarContainer {
  padding: 2.5px 15px;
  position: sticky;
  top: 0;
  background-color: aliceblue;
  box-shadow: 0px 2.5px 1.5px gray;
}

.navbarAccordionMobile {
  display: none;
}

.navbarContentContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerTitleImgContainer {
  display: flex;
  justify-content: flex-start;
  width: fit-content;
}
.headerTitle {
  width: fit-content;
  text-wrap: auto;
}
.headerImg {
  height: 48px;
  width: 48px;
}

.navbarUnorderedList {
  display: flex;
  justify-content: flex-end;
  margin: 25px;
}

.navbarListItem,
.footerListItem,
.navbarListItemHome {
  list-style: none;
  padding: 5px;
}

.navbarListItemHome {
  margin-right: auto;
}

.navbarButton {
  display: block;
  color: inherit;
  text-decoration: none;
  background-color: transparent;
  font-size: 1rem;
  height: auto;
  width: fit-content;
  padding: 10px 5px;
  opacity: 0.75;
  font-weight: 600;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 8px;
}

.navbarButtonActive {
  display: block;
  text-decoration: none;
  background-color: transparent;
  font-size: 1rem;
  height: auto;
  width: fit-content;
  padding: 10px 5px;
  opacity: 1;
  color: white;
  background-color: #0080ff;
  font-weight: 700;
  cursor: pointer;
  /* border: 2px solid black; */
  border-radius: 8px;
}

.navbarButton:hover {
  background: transparent;
  color: #0080ff;
  font-weight: 700;
}

.chromeInstallButton {
  background-color: rgb(2, 75, 147);
  color: white;
}

.chromeInstallButton:hover {
  background-color: rgb(4, 62, 121);
  font-weight: 900;
  color: white;
}

body {
  display: flex;
  justify-items: center;
  flex-direction: column;
}
.descriptionContainer,
.FAQ_Container,
.changeLogContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: monospace;
  margin: 0 5rem;
  padding: 1.5rem;
  text-align: left;
  color: #5a5454;
}
.descriptionContainer h2 {
  font-size: 1.5rem;
  font-family: sans-serif;
}
.descriptionParagraph {
  border: 1px solid black;
  border-radius: 8px;
  background-color: #fafafa;
  padding: 1.5rem;
}

.faqUnorderedList,
.changeLogUnorderedList {
  font-family: monospace;
  border: 1px solid black;
  border-radius: 8px;
  background-color: #fafafa;
  padding: 1.5rem;
  min-width: 85vw;
  text-align: left;
}

.changeLogListItem,
.faqListItem {
  /* border: 1px solid red; */
  padding: 0;
  list-style: none;
}

.footerUnorderedList {
  display: flex;
  justify-content: space-evenly;
}

@media (min-width: 700px) and (max-width: 1200px) {
  .navbarUnorderedListDeskTop {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 50%;
  }
  .headerTitle {
    font-size: 1.25rem;
  }
  .navbarListItem {
    padding: 2.5px;
  }

  .headerImg {
    height: 32px;
    width: 32px;
  }

  .navbarButton {
    text-align: center;
    padding: 2.5px;
    margin: 0.5px;
    min-width: 120px;
    font-size: 0.75rem;
  }
}

@media (max-width: 700px) {
  .mainContainer {
    border: 2px solid blue;
    padding: 0 10px;
  }

  .headerTitleImgContainer {
    font-size: 0.5rem;
  }

  .headerImg {
    height: 25px;
    width: 25px;
  }

  .summaryNavbarContainer {
    max-height: fit-content;
    width: fit-content;
  }

  .summaryNavbarContainer > svg {
    width: 35px;
    height: 35px;
  }
  .accordionSVG:focus {
    color: #0080ff;
  }

  .summaryNavbarContainer::marker {
    content: none;
  }

  .navbarDesktop {
    display: none;
  }
  .navbarAccordionMobile {
    display: block;
  }

  .navbarUnorderedList {
    background-color: aliceblue;
    position: absolute;
    right: 10px;
    display: flex;
    flex-direction: column;
    margin: 25px;
    border: 1px solid black;
    padding: 0;
  }
  .navbarUnorderedListDeskTop {
    display: none;
  }

  .navbarListItem {
    text-align: center;
  }

  .navbarButton {
    width: 150px;
  }

  .underConstruction {
    font-size: 24px;
    margin-top: 1rem;
  }
}
